* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 1200px;
  height: 120px;
  background-color: rgba(250, 235, 215, 0);
  margin: 0 auto;
  border-bottom: 1px solid #d1d1d1;
}

header ul {
  display: flex;
}

.logo {
  padding-top: 10px;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

#nav {
  width: 333px;
  display: flex;
  justify-content: space-between;
}

#search {
  background-color: #ececec;
  width: 200px;
  border-radius: 6px;
  height: 35px;
}

#search i {
  margin-left: 10px;
  line-height: 35px;
}

input {
  background-color: transparent;
  border: none;
}

.inpo li {
  padding: 0 6px;
  line-height: 35px;
  color: #838383;
  font-weight: bold;
  font-size: 15px;
}

#menu {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#menu li {
  padding: 25px 6px;
  cursor: pointer;
}

#menu svg {
  vertical-align: middle;
}

.book li:hover {
  color: #838383;
}

.cat {
  font-size: 15px;
}

.cat svg {
  padding: 0 3px;
}