@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 1170px;
  height: 120px;
  background-color: rgba(250, 235, 215, 0);
  margin: 0 auto;
  border-bottom: 1px solid #d1d1d1;
}

header ul {
  display: flex;
}

.logo {
  padding-top: 10px;
  background-color: rgba(128, 128, 128, 0);
}

.logo svg {
  width: 60px;
  height: auto;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

#nav {
  width: 333px;
  display: flex;
  justify-content: space-between;
}

#search {
  background-color: #ececec;
  width: 200px;
  border-radius: 6px;
  height: 35px;
}

#search i {
  margin-left: 10px;
  line-height: 35px;
}

input {
  background-color: transparent;
  border: none;
}

.inpo li {
  padding: 0 6px;
  line-height: 35px;
  color: #838383;
  font-weight: bold;
  font-size: 13.5px;
}

#menu {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#menu .book li {
  padding: 25px 19px 25px 0;
  cursor: pointer;
}

#menu svg {
  vertical-align: middle;
}

.book li a:hover {
  color: #838383;
}

.cat {
  font-size: 15px;
}

.cat li {
  padding: 25px 0;
  cursor: pointer;
}

.cat li:first-child {
  padding: 25px 18px 25px 0;
}

.cat span {
  font-size: 20px;
  padding: 21px 3px 22px 0;
}

.cat svg {
  padding: 0 3px;
}

footer {
  width: 1170px;
  height: 300px;
  margin: 0 auto;
  border-top: 1px solid #d1d1d1;
  color: #777777;
}

#wrap {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  font-size: 13px;
  line-height: 30px;
}

.not {
  font-weight: bold;
}

#sns i {
  border: 1px solid #d1d1d1;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  margin: 0 2px;
}

#copy {
  display: flex;
  flex-direction: column;
  font-size: 12.5px;
  line-height: 25px;
}

#copy ul {
  display: flex;
  font-size: 11px;
}

#copy li {
  padding: 0 5px 0 0;
}

#copy span {
  padding-right: 5px;
  color: #ececec;
}

#copy p {
  font-weight: bold;
  font-size: 10px;
  color: #979797;
}

.imgZoomIn {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1500;
  display: none;
}
.imgZoomIn .zoomIn {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.imgZoomIn .zoomIn .zoominCloseBtn {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 690px;
  top: 5%;
  z-index: 80;
  cursor: pointer;
}
.imgZoomIn .zoomIn img {
  width: 519px;
  height: 770px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#menu .book a {
  color: #787878;
}
#menu .book:hover {
  color: #cfcfcf;
}

#all_wrap {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#top {
  width: 936px;
  height: auto;
  display: flex;
  padding: 30px 0;
  flex-wrap: wrap;
}
#top .book_cover {
  width: 204px;
  height: 467px;
}
#top .book_cover .img_box img {
  border-radius: 4px;
  width: 204px;
  height: 306px;
  cursor: zoom-in;
}
#top .book_cover button {
  width: 204px;
  height: 48px;
  margin: 0 auto;
  color: #333;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: border-color 0.5s ease;
}
#top .book_cover button:hover {
  border: 1px solid #7a7a7a;
}
#top .info_wrap {
  width: 642px;
  height: 468px;
  margin-left: 30px;
}
#top .title_box #right {
  width: 10px;
  height: 11px;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
}
#top .title_box .info_ {
  color: #555555;
  font-weight: 500;
  font-size: 14px;
  margin: 5px 0;
}
#top .title {
  line-height: 38px;
  margin: 12px 0;
}
#top .book {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #555555;
}
#top .rating {
  font-weight: 600;
  font-size: 14px;
}
#top .info_box {
  margin: 18px 0;
}
#top .like {
  height: 34px;
  color: #1E9EFF;
  border: 1px solid #1E9EFF;
  border-radius: 30px;
  padding: 1px 9.5px 0px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}
#top .select {
  display: flex;
  width: 642px;
  height: 41px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
  margin: 16px 0;
}
#top .select .btn {
  width: 40px;
  height: 19px;
  background-color: #EDE7D8;
  font-size: 11px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 2px;
  color: #AAA068;
  text-align: center;
  margin-right: 16px;
}
#top .select i {
  color: #b4b4b4;
}
#top .select .text {
  width: 570px;
  font-size: 15px;
  font-weight: 500;
}
#top .price_box {
  width: 642px;
  height: 92px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}
#top .price_box .first_box {
  width: 120px;
  height: 90px;
  background-color: #fafafa;
  text-align: center;
  padding: 40px 0;
  border-right: 1px solid #e6e6e6;
  font-size: 14px;
}
#top .price_box .box_wrap {
  padding: 10px 0 10px 10px;
}
#top .price_box .box_wrap .box {
  display: flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #555555;
}
#top .price_box .price_ {
  width: 452px;
}
#top .price_box .price {
  width: 405px;
}
#top .hcg .wrap {
  display: flex;
  width: 640px;
  justify-content: flex-end;
  margin-top: 20px;
}
#top .hcg i {
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  color: #616161;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  margin-left: 8px;
  font-size: 20px;
  transition: border-color 0.5s ease;
  cursor: pointer;
}
#top .hcg i:hover {
  border: 1px solid #7a7a7a;
}
#top .hcg .p_box {
  width: 227px;
  height: 52px;
  background: #1E9EFF;
  color: #fff;
  text-align: center;
  line-height: 52px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  margin-left: 8px;
  cursor: pointer;
}
#top .info_box2 {
  width: 876px;
  height: 182px;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #fafafa;
  padding: 22px;
}
#top .info_box2 th {
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #141414;
  text-align: start;
}
#top .info_box2 td {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  color: #787878;
}
#top .info_box2 .box_1 {
  width: 400px;
}
#top .info_box2 span {
  padding: 0 3px;
}

#book_info {
  width: 936px;
}
#book_info .wrap1 {
  margin-bottom: 50px;
}
#book_info .wrap1 h2 {
  margin-bottom: 15px;
  font-size: 22px;
}
#book_info .wrap1 h3 {
  font-size: 20px;
  font-weight: 500;
}
#book_info .wrap1 .info_box {
  display: flex;
  padding-bottom: 16px;
  width: 876px;
  border-top: 2px solid #787878;
}
#book_info .wrap1 .info_box button {
  border: none;
}
#book_info .wrap1 .info_box .btn {
  width: 292px;
  height: 54px;
  color: #a5a5a5;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 17px 0 14px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
#book_info .wrap1 .info_box .btn:nth-child(2) {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
#book_info .wrap1 .info_box .btn.active {
  color: #141414;
  background-color: #ffffff;
  border-bottom: none;
}
#book_info .wrap1 .text_box {
  width: 867px;
}
#book_info .wrap1 .text_box p {
  color: #555;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 43px;
}
#book_info .wrap1 .text_box2,
#book_info .wrap1 .text_box3 {
  display: none;
}
#book_info .wrap1 .text_box3 {
  height: 300px;
  overflow: hidden;
  display: none;
  color: #555;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 20px;
  position: relative;
}
#book_info .wrap1 .text_box3.gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 216px;
  background: linear-gradient(0, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56px, rgba(255, 255, 255, 0) 100%);
}
#book_info .wrap1 .text_box3 .more {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  z-index: 1;
}
#book_info .wrap2 {
  width: 867px;
  border-bottom: 1px solid #e6e6e6;
}
#book_info .wrap2 h2 {
  margin-bottom: 15px;
  font-size: 22px;
}
#book_info .wrap2 .info_box2 {
  display: flex;
  padding-bottom: 16px;
  width: 876px;
  border-top: 2px solid #787878;
}
#book_info .wrap2 .btn {
  width: 438px;
  height: 54px;
  color: #a5a5a5;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 17px 0 14px;
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-top: none;
}
#book_info .wrap2 .btn:nth-child(2) {
  border-left: 1px solid #cccccc;
}
#book_info .wrap2 .btn.active {
  color: #141414;
  background-color: #ffffff;
  border-bottom: none;
}
#book_info .wrap2 .text_box2-1 .title_wrap {
  display: flex;
}
#book_info .wrap2 .text_box2-1 .title_wrap h2 {
  padding-right: 10px;
  cursor: pointer;
}
#book_info .wrap2 .text_box2-1 .title_wrap h2:hover {
  color: #333;
}
#book_info .wrap2 .text_box2-1 .like {
  height: 34px;
  color: #1E9EFF;
  border: 1px solid #1E9EFF;
  border-radius: 30px;
  padding: 1px 9.5px 0px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
}
#book_info .wrap2 .text_box2-1 ul {
  display: flex;
  color: #555555;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
#book_info .wrap2 .text_box2-1 ul .title {
  color: #a5a5a5;
  min-width: 26px;
  font-weight: 600;
}
#book_info .wrap2 .text_box2-1 ul .sub {
  padding-left: 20px;
}
#book_info .wrap2 .text_box2-1 ul .sub.blog {
  color: #4076b5;
  font-weight: 600;
}
#book_info .wrap2 .text_box2-1 .wrap {
  display: flex;
  width: 867px;
  justify-content: flex-end;
  padding-bottom: 20px;
}
#book_info .wrap2 .text_box2-1 .wrap p {
  color: #a5a5a5;
  font-size: 14px;
  padding-right: 10px;
}
#book_info .wrap2 .text_box2-1 .wrap button {
  color: #787878;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 5px 4px 5px 5px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
#book_info .wrap2 .text_box2-2 {
  position: relative;
  height: 300px;
  overflow: hidden;
  display: none;
  color: #555;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 20px;
  position: relative;
}
#book_info .wrap2 .text_box2-2 p {
  padding-bottom: 43px;
}
#book_info .wrap2 .text_box2-2.gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 216px;
  background: linear-gradient(0, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 56px, rgba(255, 255, 255, 0) 100%);
}
#book_info .wrap2 .text_box2-2 .more {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  z-index: 1;
}
#book_info .wrap3 {
  width: 867px;
  height: 430px;
  padding-top: 16px;
}
#book_info .wrap3 .Title {
  width: 867px;
  display: flex;
  padding-bottom: 10px;
}
#book_info .wrap3 .Title h3 {
  justify-content: flex-start;
  font-size: 19px;
  line-height: 26px;
}
#book_info .wrap3 .Title .more {
  width: 83%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: #a5a5a5;
}
#book_info .wrap3 .Title .more span {
  cursor: pointer;
}
#book_info .wrap3 .wrap {
  display: flex;
}
#book_info .wrap3 .wrap .book1 {
  width: 180px;
  height: 100%;
  margin: 0 auto;
}
#book_info .wrap3 .wrap .book1 img {
  width: 141px;
  height: 204px;
  border-radius: 5px;
  cursor: pointer;
}
#book_info .wrap3 .wrap .book1 h5 {
  font-size: 13px;
}
#book_info .wrap3 .wrap .book1 .by {
  font-size: 12px;
  color: #979797;
}
#book_info .wrap3 .wrap .book1 .rating {
  font-size: 13px;
}
#book_info .wrap3 .wrap .book1 .rating i {
  color: #cccccc;
}

#sub_review {
  width: 876px;
  height: auto;
}
#sub_review h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  padding: 6px 0 16px;
  margin-bottom: 0;
}
#sub_review .starbox {
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 0 15px;
  border-bottom: 1px solid #e6e6e6;
}
#sub_review .starbox .first {
  font-size: 48px;
  font-weight: 600;
  line-height: 57px;
  margin-right: 12px;
}
#sub_review .starbox .evaluate_pr {
  width: 75%;
  color: #787878;
  font-weight: 500;
}
#sub_review .writeBox {
  width: 100%;
  background-color: #1E9EFF;
}
#sub_review .writeBox .wrap2 {
  background-color: #cccccc;
  margin: 0 auto;
}
#sub_review .writeBox .wrap2 .ev_write {
  color: #a5a5a5;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
#sub_review .writeBox .wrap2 .writeStar {
  display: flex;
  text-align: center;
  color: #e6e6e6;
  cursor: pointer;
  justify-content: center;
}
#sub_review .writeBox .wrap2 .writeStar .star {
  padding: 1px;
}
#sub_review .writeBox .wrap2 .writeStar .star::after {
  font-family: FontAwesome;
  content: "\f005";
  color: #e6e6e6;
  font-size: 20px;
}
#sub_review .writeBox .wrap2 .writeStar .star:hover::after,
#sub_review .writeBox .wrap2 .writeStar .star:has(~ .star:hover)::after,
#sub_review .writeBox .wrap2 .writeStar .star.active::after,
#sub_review .writeBox .wrap2 .writeStar .star:has(~ .star.active)::after {
  font-family: FontAwesome;
  content: "\f005";
  color: #e54c43;
}
#sub_review .writeBox .wrap2 .writeStar .star:hover ~ .star::after {
  font-family: FontAwesome;
  content: "\f005";
}
#sub_review .writeBox #noticeBox {
  display: none;
}