@charset "UTF-8";

@import "reset", "common";

// 메인 슬라이더 :::::::::::::::::::::::::::::::::::::::::::::::::
#main {width: 1170px; height: 640px; margin: 0 auto; padding: 15px 0; background-color: #b6dfff00;}
.barmenu {width: 500px; height: 50px; display: flex; justify-content: space-between; font-weight: bold;}
.barmenu li {cursor: pointer; transition: color 0.2s ease;}
.barmenu li a:hover {color: #979797; }
.barmenu li:first-child {width: 45px; height: 27px; background-color: #1b9dff; color: #fff; border-radius: 30px; text-align: center; cursor:default;}

#banner {width: 1170px; height: 400px; margin: 0 auto; display: flex; position: relative; cursor: pointer;}
#banner .wrap {width: 1170px; height: 400px; margin: 0 auto; overflow: hidden;}
.allslide {width: 1000%;}
#banner .btn {width: 35px; height: 35px; border-radius: 50%; background-color: #fff; text-align: center; line-height: 35px; position: absolute; top: 50%;  transform: translateY(-50%); box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.151);cursor: pointer;}
#banner .btn:hover {color: #979797;}
#banner .prev {left: -18px;}
#banner .next {right: -18px;}

.slide {height: 400px; float: left; margin-right: 5px; border-radius: 5px; background-position: center; box-shadow: 0px -50px 100px 10px #33333354 inset;}
.slide h1, .slide p {white-space: nowrap;}
.slide .info-wrap {display: flex; width: 100%; margin-top: 200px; padding: 20px 40px 30px 55px;}
.slide .only {width: 40px; border: 1px solid #fff; border-radius: 3px}
.slide .text {width: 100%;color: #fff; white-space: nowrap;}
.slide .page {background-color: #00000034; width: 50px; height: 25px; justify-content: flex-end; text-align: center; line-height: 25px; color: #fff; font-size: 13px; border-radius: 30px; margin-top: 120px;}
.page p {font-weight: bold;}
.page span {color: #ffffff67;}

// 아이콘 메뉴 :::::::::::::::::::::::::::::::::::::::::::::
#iconmenu {margin: 40px 0; width: 1110px; height: 94px;}
#iconmenu ul{display: flex; justify-content: center;}
#iconmenu li {height: 94px; padding: 0 10px; cursor: pointer;}
#iconmenu li img {width: 70px; height: 70px;}
#iconmenu li p {text-align: center; font-size: 13px; font-weight: 500;}


// 백그라운드 이미지 ::::::::::::::::::::::::::::::::::::::::::::::
.slide1 {width: 1064px; background-image: url(https://active.ridibooks.com/ridibooks_banner/3dfe7af5-5e2a-47b1-92b1-6c84e3864779.jpg);}
.slide2 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/1662599175090_MjIwODIz.jpg);}
.slide3 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/5b63bc5a-47b8-4554-9e90-fc31b1aac7f4.jpg);}
.slide4 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/7432bf36-9063-4631-a7fb-ccc986dbc238.jpg);}
.slide5 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/3d156e70-0642-4f4a-b1c5-3df6cbd3f968.jpg);}
.slide6 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/6a6db228-5f40-4338-89b8-8e6c968e2b12.png);}
.slide7 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/8f09a40d-4773-42ae-a7ca-bb3593c1cd71.jpeg);}
.slide8 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/2b9cdecc-8b50-429f-9951-9d4cdc65f74c.jpeg);}
.slide9 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/23536b7a-a592-4f46-a93a-272837dd636b.jpeg);}
.slide10 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/7c068688-f224-4436-a3c5-92320ac1b9eb.jpg);}



// 리디의 발견 :::::::::::::::::::::::::::::::::::::
#discovery {width: 1170px; height: 430px; margin: 0 auto; padding: 0 30px;}
#discovery h2 {font-size: 22px; padding: 20px 0; line-height: 26px;}
#discovery .wrap {display: flex;}
#discovery .book1 {width: 180px; height: 100%; margin: 0 auto;}
#discovery .book1 img {width: 180px; height: 261px; border-radius: 5px;cursor: pointer;}
#discovery .book1 h5 {font-size: 15px;}

// 지금 많이 읽고 있는 작품 ::::::::::::::::::::::::::::::::::::::::
#book-ranking {width: 1110px; height: 460px; margin: 0 auto; position: relative;}
#book-ranking h2 {font-size: 22px; margin-bottom: 20px;}
#book-ranking .sliderwrap {width: 1110px; height: 460px; overflow: hidden;}
#book-ranking .gridwrap {width: 2420px; height: 370px;}

#book-ranking .wrap {width: 1110px; height: 370px; display: flex; float: left; }
#book-ranking .wrap2 {display: flex; height: 370px; float: left;}
#book-ranking .grid {width: 370px; height: 360px; margin: 0 auto; }

.book2 {display: flex; width: 370px;}
#book-ranking .book-info {padding-top: 20px;}
#book-ranking .grid .bookimg img {width: 80px; height: 116px; border-radius: 4px; margin: 2px 0; cursor: pointer;}
#book-ranking .grid .rank {width: 80px; height: 116px; display: flex;  justify-content: center; align-items: center; font-weight: bold;}
#book-ranking .grid .by {font-size: 14px; color: #787878; cursor: pointer;}
#book-ranking .by:hover {color: #cccccc;}
#book-ranking .grid .rating {color: #dc3232; font-size: 13px;}

#book-ranking .btn {width: 35px; height: 35px; border-radius: 50%; background-color: #fff; text-align: center; line-height: 35px; position: absolute; top: 50%; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.151);cursor: pointer;}
#book-ranking .btn:hover {color: #979797;}
#book-ranking .prev2 {left: -15px; display: none;}
#book-ranking .next2 {right: 15px;}

// MD PICK ::::::::::::::::::::::::::::::::::::: 
#md {width: 1110px; height: 320px; margin: 0 auto; }
#md h2 {font-size: 22px; padding: 0 0 30px 0;}
#md .boxwrap {display: flex;}
#md .wrap {margin: 0 auto; height: 226px; padding: 55px 0; text-align: center; cursor: pointer;}
#md .wrap1 .box {background-color: rgb(4, 68, 121);}
#md .wrap2 .box {background-color: rgb(107, 25, 25);}
#md .wrap3 .box {background-color: rgb(180, 12, 92);}
#md .box {width: 366px; height: 100px; display: flex; border-radius: 4px;}
#md .boximg {width: 150px; height: 150px; margin: -50px auto; overflow: hidden;}
.boximg img {width: auto; height: 150px; border-radius: 5px 5px 0 0;}
#md .text {width: 250px; margin: 0 auto;}
#md .text p {font-size: 16px; font-weight: 500; margin: 5px 0; line-height: 1.3;}
#md .text .p {color: #979797; font-size: 14px;}

// 베스트 ::::::::::::::::::::::::::::::::::::::::::: 
#best-book {width: 1110px; height: 460px; margin: 0 auto; position: relative;}
#best-book h2 {font-size: 22px; margin-bottom: 20px;}
#best-book .sliderwrap {width: 1110px; height: 460px; overflow: hidden;}
#best-book .gridwrap {width: 2420px; height: 370px;}

#best-book .wrap {width: 1110px; height: 370px; display: flex; float: left; }
#best-book .wrap2 {display: flex; height: 370px; float: left;}
#best-book .grid {width: 370px; height: 360px; margin: 0 auto; }

.book3 {display: flex; width: 370px;}
#best-book .book-info {padding-top: 20px;}
#best-book .grid .bookimg img {width: 80px; height: 116px; border-radius: 4px; margin: 2px 0; cursor: pointer;}
#best-book .grid .rank {width: 80px; height: 116px; display: flex;  justify-content: center; align-items: center; font-weight: bold;}
.title {display: flex; cursor: pointer;}
#best-book .grid .by {font-size: 14px; color: #787878; cursor: pointer; }
#best-book .by:hover {color: #cccccc;}
#best-book .grid .rating {color: #dc3232; font-size: 13px;}

#best-book .btn {width: 35px; height: 35px; border-radius: 50%; background-color: #fff; text-align: center; line-height: 35px; position: absolute; top: 50%; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.151);cursor: pointer;}
#best-book .btn:hover {color: #979797;}
#best-book .prev3 {left: -15px; display: none;}
#best-book .next3 {right: 15px;}

// 새로나온작품 :::::::::::::::::::::::::: 
#new {width: 1170px; height: 430px; margin: 0 auto; padding: 0 30px;}
#new .Title {width: 1170px; display: flex;}
#new h2 {justify-content: flex-start; font-size: 22px; padding: 20px 0; line-height: 26px;}
#new .Title .more {width: 83%; display: flex; justify-content: flex-end; align-items: center; font-size: 17px; color: #a5a5a5;}
.more span {cursor: pointer;}
#new .wrap {display: flex;}
#new .book5 {width: 180px; height: 100%; margin: 0 auto;}
#new .book5 img {width: 180px; height: 261px; border-radius: 5px;cursor: pointer;}
#new .book5 h5 {font-size: 15px;}
#new .by {font-size: 14px; color: #979797;}
#new .rating {font-size: 13px;}
#new .rating i {color: #cccccc;}

// 우주라이크소설 ::::::::::::::::::::::::::: 
#like {width: 1110px; height: 542px; margin: 0 auto;}
#like h2 {font-size: 22px; margin-bottom: 20px;}
#like .wrap {display: flex;}
#like .box {width: 217px; height: 434px; margin: 0 6px 0 0;}
#like .imgbox {width: 217px; height: 434px; position: absolute; border-radius: 6px;}
#like .text {position: relative; width: 100%; height: 100%;}
#like .text img {width: 180px; height: 126px; margin: 130% 0 0 16px;}

// 셀렉트 :::::::::::::::::::::::::::::::: 
#select {width: 1170px; height: 200px; margin: 0 auto; padding: 0 30px; position: relative;}
#select .title {width: 1170px; display: flex;}
#select h2 {justify-content: flex-start; font-size: 22px; padding: 20px 0; line-height: 26px;}
#select .title .more {width: 76%; display: flex; justify-content: flex-end; align-items: center; font-size: 17px; color: #a5a5a5;}


#select .gridwrap {display: flex;}
.slideWrap {width: 1110px; overflow: hidden;}
#select .wrap, #select .wrap2 {display: flex;}
#select .box {width: 370px; height: 90px; display: flex;}
#select .imgbox {width: 366px; display: flex; justify-content: flex-end; background-color: rgb(166, 158, 100); border-radius: 4px; overflow: hidden;}
#select .box img {width: 200px; height: 89px;}

#select .text {width: 366px; display: flex; background-color: #ffffff00; padding: 20px 0 0 20px;}
#select .text p {color: #fff; font-weight: 600; font-size: 14px;}

#select .btn {width: 35px; height: 35px; border-radius: 50%; background-color: #fff; text-align: center; line-height: 35px; position: absolute; top: 50%; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.151);cursor: pointer;}
#select .btn:hover {color: #979797;}
#select .prev4 {left: 10px; display: none;}
#select .next4 {right: 15px;}