@charset "UTF-8";

@import "reset", "common";

// 메인 슬라이더 :::::::::::::::::::::::::::::::::::::::::::::::::
#main {width: 1170px; height: 640px; margin: 0 auto; padding: 15px 0; background-color: #b6dfff00;}
.barmenu {width: 500px; height: 50px; display: flex; justify-content: space-between; font-weight: bold;}
.barmenu li {cursor: pointer; transition: color 0.2s ease;}
.barmenu li a:hover {color: #979797; }
.barmenu li:first-child {width: 45px; height: 27px; background-color: #1b9dff; color: #fff; border-radius: 30px; text-align: center; cursor:default;}

#banner {width: 1170px; height: 400px; margin: 0 auto; display: flex; position: relative; cursor: pointer;}
#banner .wrap {width: 1170px; height: 400px; margin: 0 auto; overflow: hidden;}
.allslide {width: 1000%;}
#banner .btn {width: 35px; height: 35px; border-radius: 50%; background-color: #fff; text-align: center; line-height: 35px; position: absolute; top: 50%;  transform: translateY(-50%); box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.151);cursor: pointer;}
#banner .btn:hover {color: #979797;}
#banner .prev {left: -18px;}
#banner .next {right: -18px;}

.slide {height: 400px; float: left; margin-right: 5px; border-radius: 5px; background-position: center; box-shadow: 0px -50px 100px 10px #33333354 inset;}
.slide h1, .slide p {white-space: nowrap;}
.slide .info-wrap {display: flex; width: 100%; margin-top: 200px; padding: 20px 40px 30px 55px;}
.slide .only {width: 40px; border: 1px solid #fff; border-radius: 3px}
.slide .text {width: 100%;color: #fff; white-space: nowrap;}
.slide .page {background-color: #00000034; width: 50px; height: 25px; justify-content: flex-end; text-align: center; line-height: 25px; color: #fff; font-size: 13px; border-radius: 30px; margin-top: 120px;}
.page p {font-weight: bold;}
.page span {color: #ffffff67;}

// 아이콘 메뉴 :::::::::::::::::::::::::::::::::::::::::::::
#iconmenu {margin: 40px 0; width: 1110px; height: 94px;}
#iconmenu ul{display: flex; justify-content: center;}
#iconmenu li {height: 94px; padding: 0 10px; cursor: pointer;}
#iconmenu li img {width: 70px; height: 70px;}
#iconmenu li p {text-align: center; font-size: 13px; font-weight: 500;}


// 백그라운드 이미지 ::::::::::::::::::::::::::::::::::::::::::::::
.slide1 {width: 1064px; background-image: url(https://active.ridibooks.com/ridibooks_banner/3dfe7af5-5e2a-47b1-92b1-6c84e3864779.jpg);}
.slide2 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/1662599175090_MjIwODIz.jpg);}
.slide3 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/5b63bc5a-47b8-4554-9e90-fc31b1aac7f4.jpg);}
.slide4 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/7432bf36-9063-4631-a7fb-ccc986dbc238.jpg);}
.slide5 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/3d156e70-0642-4f4a-b1c5-3df6cbd3f968.jpg);}
.slide6 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/6a6db228-5f40-4338-89b8-8e6c968e2b12.png);}
.slide7 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/8f09a40d-4773-42ae-a7ca-bb3593c1cd71.jpeg);}
.slide8 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/2b9cdecc-8b50-429f-9951-9d4cdc65f74c.jpeg);}
.slide9 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/23536b7a-a592-4f46-a93a-272837dd636b.jpeg);}
.slide10 {width: 48px; background-image: url(https://active.ridibooks.com/ridibooks_banner/7c068688-f224-4436-a3c5-92320ac1b9eb.jpg);}



// 리디의 발견 :::::::::::::::::::::::::::::::::::::
#discovery {width: 1170px; height: 400px; margin: 0 auto; padding: 0 30px;}
#discovery h2 {font-size: 22px; padding: 20px 0; line-height: 26px;}
#discovery .wrap {display: flex;}
#discovery .book1 {width: 180px; height: 100%; margin: 0 auto;}
#discovery .book1 img {width: 180px; height: 261px; border-radius: 5px;}
#discovery .book1 h5 {font-size: 15px;}

// 지금 많이 읽고 있는 작품 ::::::::::::::::::::::::::::::::::::::::
#book-ranking {width: 1110px; height: 460px; margin: 0 auto; position: relative;}
#book-ranking h2 {font-size: 22px; margin-bottom: 20px;}
.sliderwrap {width: 1110px; height: 460px; overflow: hidden;}
.gridwrap {width: 2420px; height: 370px;}

#book-ranking .wrap {width: 1110px; height: 370px; display: flex; float: left; }
#book-ranking .wrap2 {display: flex; height: 370px; float: left;}
.grid {width: 370px; height: 360px; margin: 0 auto; }

.book2 {display: flex; width: 370px;}
.book-info {padding-top: 20px;}
.grid .bookimg img {width: 80px; height: 116px; border-radius: 4px; margin: 2px 0;}
.grid .rank {width: 80px; height: 116px; display: flex;  justify-content: center; align-items: center; font-weight: bold;}
.grid .by {font-size: 14px; color: #787878;}
.grid .rating {color: #dc3232; font-size: 13px;}

#book-ranking .btn {width: 35px; height: 35px; border-radius: 50%; background-color: #fff; text-align: center; line-height: 35px; position: absolute; top: 50%; box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.151);cursor: pointer;}
#book-ranking .btn:hover {color: #979797;}
#book-ranking .prev2 {left: -15px; display: none;}
#book-ranking .next2 {right: 15px;}

// MD PICK ::::::::::::::::::::::::::::::::::::: 
#md {width: 1110px; height: 274px; background-color: #1b9dff; margin: 0 auto; }
#md .boxwrap {display: flex;}
#md .wrap {margin: 0 auto; height: 226px; padding: 55px 0; background-color: #fab4b4; text-align: center;}
#md .box {width: 366px; height: 100px; background-color: #c9c4c4; display: flex; }
#md .boximg {width: auto; height: 150px; background-color: pink; margin: -50px auto; overflow: hidden;}
#md .text p {color: #979797; font-size: 15px;}