@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import "reset", "common";

// 줌인 ::::::::::::::::::::::::::
.imgZoomIn {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1500;
    display: none;

    .zoomIn {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;

        .zoominCloseBtn {
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 55px;
            text-align: center;
            font-size: 20px;
            position: absolute;
            right: 690px;
            top: 5%;
            z-index: 80;
            cursor: pointer;
        }

        img {
            width: 519px;
            height: 770px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    }
}

// 헤더 메뉴 ::::::::::::::::::::::::::
#menu {
    .book {
        a {
            color: #787878;
        }

        &:hover {
            color: #cfcfcf;
        }
    }
}

// 전체 감싸는 ::::::::::::::::::
#all_wrap {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

// 메인 탑 ::::::::::::::::::::::::
#top {
    width: 936px;
    height: auto;
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;

    .book_cover {
        width: 204px;
        height: 467px;

        .img_box {
            img {
                border-radius: 4px;
                width: 204px;
                height: 306px;
                cursor: zoom-in;
            }
        }

        button {
            width: 204px;
            height: 48px;
            margin: 0 auto;
            color: #333;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 6px;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            transition: border-color 0.5s ease;

            &:hover {
                border: 1px solid #7a7a7a;
            }
        }
    }

    .info_wrap {
        width: 642px;
        height: 468px;
        margin-left: 30px;
    }

    .title_box {
        #right {
            width: 10px;
            height: 11px;
            font-size: 10px;
            text-align: center;
            line-height: 10px;
        }

        .info_ {
            color: #555555;
            font-weight: 500;
            font-size: 14px;
            margin: 5px 0;
        }
    }

    .title {
        line-height: 38px;
        margin: 12px 0;
    }

    .book {
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        color: #555555;
    }

    .rating {
        font-weight: 600;
        font-size: 14px;
    }

    .info_box {
        margin: 18px 0;
    }

    .like {
        height: 34px;
        color: #1E9EFF;
        border: 1px solid #1E9EFF;
        border-radius: 30px;
        padding: 1px 9.5px 0px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        background-color: #fff;
        cursor: pointer;
    }

    .select {
        display: flex;
        width: 642px;
        height: 41px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        align-items: center;
        margin: 16px 0;

        .btn {
            width: 40px;
            height: 19px;
            background-color: #EDE7D8;
            font-size: 11px;
            font-weight: 700;
            line-height: 19px;
            border-radius: 2px;
            color: #AAA068;
            text-align: center;
            margin-right: 16px;
        }

        i {
            color: #b4b4b4;
        }

        .text {
            width: 570px;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .price_box {
        width: 642px;
        height: 92px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        display: flex;

        .first_box {
            width: 120px;
            height: 90px;
            background-color: #fafafa;
            text-align: center;
            padding: 40px 0;
            border-right: 1px solid #e6e6e6;
            font-size: 14px;
        }

        .box_wrap {
            padding: 10px 0 10px 10px;

            .box {
                display: flex;
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                color: #555555;
            }
        }

        .price_ {
            width: 452px;
        }

        .price {
            width: 405px;
        }
    }

    .hcg {
        .wrap {
            display: flex;
            width: 640px;
            justify-content: flex-end;
            margin-top: 20px;
        }

        i {
            width: 52px;
            height: 52px;
            text-align: center;
            line-height: 52px;
            color: #616161;
            border: 1px solid #e6e6e6;
            border-radius: 6px;
            margin-left: 8px;
            font-size: 20px;
            transition: border-color 0.5s ease;
            cursor: pointer;

            &:hover {
                border: 1px solid #7a7a7a;
            }
        }

        .p_box {
            width: 227px;
            height: 52px;
            background: #1E9EFF;
            color: #fff;
            text-align: center;
            line-height: 52px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 6px;
            margin-left: 8px;
            cursor: pointer;
        }
    }

    .info_box2 {
        width: 876px;
        height: 182px;
        display: flex;
        border: 1px solid #e6e6e6;
        border-radius: 6px;
        background-color: #fafafa;
        padding: 22px;

        th {
            width: 100px;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            color: #141414;
            text-align: start;
        }

        td {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.14px;
            color: #787878;
        }

        .box_1 {
            width: 400px;
        }

        span {
            padding: 0 3px;
        }
    }
}

// 작품 정보 :::::::::::::::::::::::::::::::::::::
#book_info {
    width: 936px;

    .wrap1 {
        margin-bottom: 50px;

        h2 {
            margin-bottom: 15px;
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
        }

        .info_box {
            display: flex;
            padding-bottom: 16px;
            width: 876px;
            border-top: 2px solid #787878;

            button {
                border: none;
            }

            .btn {
                width: 292px;
                height: 54px;
                color: #a5a5a5;
                background-color: #f5f5f5;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                padding: 17px 0 14px;
                border-bottom: 1px solid #cccccc;
                cursor: pointer;

                &:nth-child(2) {
                    border-left: 1px solid #cccccc;
                    border-right: 1px solid #cccccc;
                }

                &.active {
                    color: #141414;
                    background-color: #ffffff;
                    border-bottom: none;
                }

            }
        }

        .text_box {
            width: 867px;

            p {
                color: #555;
                font-size: 15px;
                line-height: 24px;
                padding-bottom: 43px;
            }
        }

        .text_box2,
        .text_box3 {
            display: none;

        }

        .text_box3 {
            height: 300px;
            overflow: hidden;
            display: none;
            color: #555;
            font-size: 15px;
            line-height: 24px;
            padding-bottom: 20px;
            position: relative;

            &.gradient::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 216px;
                background: linear-gradient(0, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 56px, rgba(255, 255, 255, 0) 100%);
            }

            .more {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                background-color: #fff;
                border: 1px solid #cccccc;
                border-radius: 6px;
                z-index: 1;
            }
        }


    }

    .wrap2 {
        width: 867px;
        border-bottom: 1px solid #e6e6e6;


        h2 {
            margin-bottom: 15px;
            font-size: 22px;
        }

        .info_box2 {
            display: flex;
            padding-bottom: 16px;
            width: 876px;
            border-top: 2px solid #787878;
        }

        .btn {
            width: 438px;
            height: 54px;
            color: #a5a5a5;
            background-color: #f5f5f5;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            padding: 17px 0 14px;
            border-bottom: 1px solid #cccccc;
            border-left: none;
            border-right: none;
            border-top: none;

            &:nth-child(2) {
                border-left: 1px solid #cccccc;
            }

            &.active {
                color: #141414;
                background-color: #ffffff;
                border-bottom: none;
            }
        }

        .text_box2-1 {

            .title_wrap {
                display: flex;

                h2 {
                    padding-right: 10px;
                    cursor: pointer;

                    &:hover {
                        color: #333;
                    }
                }
            }

            .like {
                height: 34px;
                color: #1E9EFF;
                border: 1px solid #1E9EFF;
                border-radius: 30px;
                padding: 1px 9.5px 0px;
                font-size: 14px;
                line-height: 17px;
                font-weight: 600;
                background-color: #fff;
                cursor: pointer;
            }

            ul {
                display: flex;
                color: #555555;
                font-size: 15px;
                line-height: 28px;
                font-weight: 400;

                .title {
                    color: #a5a5a5;
                    min-width: 26px;
                    font-weight: 600;
                }

                .sub {
                    padding-left: 20px;
                }

                .sub.blog {
                    color: #4076b5;
                    font-weight: 600;
                }
            }

            .wrap {
                display: flex;
                width: 867px;
                justify-content: flex-end;
                padding-bottom: 20px;

                p {
                    color: #a5a5a5;
                    font-size: 14px;
                    padding-right: 10px;
                }

                button {
                    color: #787878;
                    background-color: #fff;
                    border: 1px solid #cccccc;
                    padding: 5px 4px 5px 5px;
                    border-radius: 4px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
        }

        .text_box2-2 {

            position: relative;
            height: 300px;
            overflow: hidden;
            display: none;
            color: #555;
            font-size: 15px;
            line-height: 24px;
            padding-bottom: 20px;
            position: relative;

            p {
                padding-bottom: 43px;
            }

            &.gradient::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 216px;
                background: linear-gradient(0, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 56px, rgba(255, 255, 255, 0) 100%);
            }

            .more {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                background-color: #fff;
                border: 1px solid #cccccc;
                border-radius: 6px;
                z-index: 1;
            }
        }
    }

    .wrap3 {
        width: 867px;
        height: 430px;
        padding-top: 16px;

        .Title {
            width: 867px;
            display: flex;
            padding-bottom: 10px;

            h3 {
                justify-content: flex-start;
                font-size: 19px;
                line-height: 26px;
            }

            .more {
                width: 83%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 16px;
                color: #a5a5a5;

                span {
                    cursor: pointer;
                }
            }
        }

        .wrap {
            display: flex;

            .book1 {
                width: 180px;
                height: 100%;
                margin: 0 auto;

                img {
                    width: 141px;
                    height: 204px;
                    border-radius: 5px;
                    cursor: pointer;
                }

                h5 {
                    font-size: 13px;
                }

                .by {
                    font-size: 12px;
                    color: #979797;
                }

                .rating {
                    font-size: 13px;

                    i {
                        color: #cccccc;
                    }
                }
            }



        }
    }
}

// 리뷰 :::::::::::::::::::::::::::
#sub_review {
    width: 876px;
    height: auto;

    h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        padding: 6px 0 16px;
        margin-bottom: 0;
    }

    .starbox {
        width: 100%;
        height: auto;
        display: flex;
        padding: 8px 0 15px;
        border-bottom: 1px solid #e6e6e6;

        .first {
            font-size: 48px;
            font-weight: 600;
            line-height: 57px;
            margin-right: 12px;
        }

        .evaluate_pr {
            width: 75%;
            color: #787878;
            font-weight: 500;
        }
    }

    .writeBox {
        width: 100%;
        background-color: #1E9EFF;

        .wrap2 {
            background-color: #cccccc;
            margin: 0 auto;

            .ev_write {
                color: #a5a5a5;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 18px;
            }

            .writeStar {
                display: flex;
                text-align: center;
                color: #e6e6e6;
                cursor: pointer;
                justify-content: center;

                .star {
                    padding: 1px;
                }

                .star::after {
                    font-family: FontAwesome;
                    content: "\f005";
                    color: #e6e6e6;
                    font-size: 20px;
                }

                .star:hover::after,
                .star:has(~ .star:hover)::after,
                .star.active::after,
                .star:has(~ .star.active)::after {
                    font-family: FontAwesome;
                    content: "\f005";
                    color: #e54c43;
                }

                .star:hover~.star::after {
                     font-family: FontAwesome;
                    content: "\f005";
                }
            }
        }

        #noticeBox {
            display: none;
        }
    }

}